:root{
    --corBack:#343434;
    --corText01:#080808;
    --corText02:#ffffff;
    --corBt:#6f00ff;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--corBack);
}
main{
    background-color: var(--corBack);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main img{
    width: 40rem;
    height: 40rem;
}

main .text_area{
    width: 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    text-align: center;
    
}

 h1{
    color: var(--corText02);
    font-size: 4rem;
    text-align: center;
}
p{
    color: var(--corText02);
    font-size: 1.6rem;
}


 #btComecar{
    text-decoration: none;
    border: none;
    outline: none;
    padding: 1.6rem 5rem;
    background-color: var(--corBt);
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 3rem;
}

#btComecar:hover{
    transform: scale(1.1);
}