:root{
    --corBack:#343434;
    --corText:#080808;
    --corBt:#6f00ff;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--corBack);
    padding: 1rem;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 10rem auto 2rem;
    padding: 40px 30px 70px;
    border-radius: 1rem;
}

.todo-app h2{
    font-size: 3rem;
    color: var(--corText);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edeef0;
    border-radius: 3rem;
    padding-left: 2rem;
    margin-bottom:2.5rem ;
}

input{
    font-size: 1.6rem;
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 1.4rem;
}

button{
    border: none;
    outline: none;
    padding: 1.6rem 5rem;
    background-color: var(--corBt);
    color: #fff;
    font-size: 1.6rem;cursor: pointer;
    border-radius: 3rem;
}

ul li{
    list-style: none;
    font-size: 1.7rem;
    padding: 1.2rem 0.8rem 1.2rem 5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 1.2rem;
    left: 0.8rem;
}
ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(../img/checked.png);
}

i{
    color: black;
    position: absolute;
    right:0 ;
    font-size: 2rem;
}
i:hover{
    transform:scale(1.2) rotate(-5deg);
    color: red;
}


